ASENA_SESSION=""
WORK_TYPE="private"
HANDLERS="^[.!;]"
ALIVE_MESSAGE="default"
ANTI_LINK="false"
ANTILINK_MESSAGE="default"
SEND_READ="false"
NO_ONLINE="true"
BAN_MESSAGE="default"
ADD_MESSAGE="default"
MUTE_MESSAGE="default"
UNMUTE_MESSAGE="default"
PROMOTE_MESSAGE="default"
DEMOTE_MESSAGE="default"
BLOCK_MESSAGE="default"
UNBLOCK_MESSAGE="default"
KICKME_MESSAGE="default"
AFK_MESSAGE="default"
SUDO=""
WEATHER_API="your_api_key_here"
